<div>
<div style="width: auto; height:200px; text-align: center; padding: 0px;">
    <img style='width: 100%; height: 100%; object-fit: cover;' src="assets/images/triangles-min.svg">
    </div>
    <div class="header-container mat-typography">
                    <h2 class="mat-title">About</h2>
                </div>

        <div fxLayout="column" fxLayoutAlign="center center">
            <div class='personal-statement'><p>
            I am transitioning from a career in IP (patents) to web development.  I started this journey making a quiz app as a study aid for a professional exam.  Now I am excited to be improving my skills daily.
            </p>
            
            </div>
            <div>
        <button fxHide fxShow.xs mat-raised-button class="hover-resume-btn resume-btn" 
            (click)="download()" >
        Resume
        </button>
        </div>
        </div>

            <div>
            <div role="listitem">

                <div class=header-container>
                <div class="mat-typography">
                    <h2 class="mat-title">Websites</h2>
                </div>
                </div>
                <mat-card>
                <mat-card-header>
                <mat-card-title>
                    Patport Patent Cost Estimator
                </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                <mat-card-subtitle>Angular + Django</mat-card-subtitle>
                <div class="img-container">
                <img fxFlex src="assets/images/patport.png" (click)="openImageModal('assets/images/patport.png')">
                <ng-template #dialogRef let-data><img class="override-img" src={{data}}></ng-template>
                <img fxFlex src="assets/images/patport-chart.png"
                    (click)="openImageModal('assets/images/patport-chart.png')">
                </div>
                <p>
                   App for estimating the costs of a patent portfolio based off the patent filing plan. 
                </p>
                </mat-card-content>
                <mat-card-actions class="mat-card-actions-class">
                    <a mat-raised-button class="hover-class-accent text-button" color="accent" href="https://patport.cc" >
                        Patport
                    </a>
                    <a mat-icon-button class="hover-class-accent" color="accent"
                    href="https://github.com/cval245/pestimator">
                    <mat-icon svgIcon="github" aria-hidden="false"></mat-icon>
                    </a>
                </mat-card-actions>
                    </mat-card>
            </div>
            <mat-card>
                <mat-card-header>
            <mat-card-title>
                Quiz App
            </mat-card-title>
                </mat-card-header>
                <mat-card-subtitle>Django</mat-card-subtitle>
                <mat-card-content>
                <p>
                    Quiz app offering a timed quiz and non-timed quizzes.  Also provides framework for integrating quizzes with in-app course material.
                    This app can take a little while to spin up. (heroku)
                </p>
                </mat-card-content>
                <mat-card-actions class="mat-card-actions-class">
                    <a mat-raised-button class="hover-class-accent text-button" color="accent" href="https://gentle-brushlands-05163.herokuapp.com">
                    Quiz App
                    </a>
                    <a mat-icon-button class="hover-class-accent" color="accent"
                    href="https://github.com/cval245/patentbar-git">
                    <mat-icon svgIcon="github" aria-hidden="false"></mat-icon>
                    </a>
                </mat-card-actions>
                </mat-card>
            <div>
            </div>

            <div>
                <mat-divider></mat-divider>
                <div class=header-container>
                <div class="mat-typography">
                    <h2 class="mat-title">Skills</h2>
                </div>
                </div>
        <div gdcolumns="repeat(auto-fill, minmax(200px, 1fr))" gdgap="15px"
     style="display: grid; grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); gap: 10px; margin: 15px;"
>
                <div class="item" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon svgIcon="angular" aria-hidden="true">
                        </mat-icon>
                    <div><p class="font-s">Angular</p></div>
                </div>
               <div class="item" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon svgIcon="rxjs" aria-hidden="true">
                        </mat-icon>
                    <div><p class="font-s">RXJS</p></div>
                </div>

                <div class="item" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon svgIcon="ngrx" aria-hidden="true">
                        </mat-icon>
                    <div><p class="font-s">NGRX</p></div>
                </div>
                <div class="item" fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon svgIcon="django" aria-hidden="true">
                        </mat-icon>
                        <div><p class="font-s">Django</p></div>
                </div>
                <div class="item" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon svgIcon="drf" aria-hidden="true">
                        </mat-icon>
                    <div><p class="font-s">Django Rest Framework</p></div>
                </div>
                <div class="item" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon svgIcon="postgres" aria-hidden="true">
                        </mat-icon>
                    <div><p class="font-s">PostgreSQL</p></div>
                </div>
            </div>
           </div> 
            <div>
            <mat-list>
            <mat-divider></mat-divider>
            <div mat-subheader>Education</div>
            <mat-list-item role="listitem">
                <div matLine> B.S. Physics</div>
                <div matLine> Roanoke College</div>
                <div matLine> Salem, VA</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <div mat-subheader>Previous Work Experience</div>
            <mat-list-item role="listitem">
                <div matLine> IP Specialist (patents)</div>
                <div matLine> Lintec of America, Inc</div>
                <div matLine> Nano-Science & Technology Center
                </div>
                <div matLine> Richardson, TX</div>
            </mat-list-item>
            </mat-list>
            </div>
</div>

