<h2>
    Resume
</h2>
<div gdcolumns="repeat(auto-fill, minmax(320px, 1fr))" gdgap="10px"
     style="display: grid; grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); gap: 10px;"
>
            <div><p>
            I am transitioning from a career in IP (patents) to web development.  I started this journey making a quiz app as a study aid for a professional exam.  Now I am excited to be improving my skills daily.
            </p>
            </div>
            <div>
            <mat-list role="list">
                <mat-divider></mat-divider>
                <div class=header-container>
                <div class="mat-typography">
                    <h2 class="mat-title">Skills</h2>
                </div>
                </div>
                <mat-list-item role="listitem">
                <div matLine> 
                </div>
                <div matLine>
                        Django
                </div>
                <div matLine>
                    DjangoRestFramework
                </div>
                <div matLine>
                    Angular
                </div>
                <div matLine>
                    rxjs, ngrx
                </div>
                <div matLine>
                    Postgresql
                </div>

            </mat-list-item>
            </mat-list>
            </div>
            <div>
            <mat-list>
            <mat-divider></mat-divider>
            <div mat-subheader>Websites</div>
            <mat-list-item role="listitem">
                                <div matLine>
                    <a mat-raised-button color="accent" href="https://patport.cc" >
                        Patport Cost Estimator
                    </a>
                </div>
            </mat-list-item>
            
            <mat-list-item role="listitem">
                <div matLine>
                    <a mat-raised-button color="accent" href="https://gentle-brushlands-05163.herokuapp.com">
                    Quiz App
                    </a>
                </div>
            </mat-list-item>
            <mat-list-item role="listitem">
                <div matLine>
                    <a mat-raised-button color="accent" href="https://github.com/cval245">
                        <mat-icon svgIcon="github" aria-hidden="false"></mat-icon>
                        GitHub Account
                    </a>
                </div>
            </mat-list-item>
            </mat-list>
            </div>

            <div>
            <mat-list>
            <mat-divider></mat-divider>
            <div mat-subheader>Education</div>
            <mat-list-item role="listitem">
                <div matLine> B.S. Physics</div>
                <div matLine> Roanoke College</div>
                <div matLine> Salem, VA</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <div mat-subheader>Previous Work Experience</div>
            <mat-list-item role="listitem">
                <div matLine> IP Specialist (patents)</div>
                <div matLine> Lintec of America, Inc</div>
                <div matLine> Nano-Science & Technology Center
                </div>
                <div matLine> Richardson, TX</div>
            </mat-list-item>
            </mat-list>
            </div>
</div>
