<div class="container">

    <header class=".app-header">
        <mat-toolbar color="primary">
            <h3>Christopher Valentine</h3>
            <div fxFlex fxLayout="row" fxLayoutAlign="end center">
                <button mat-flat-button color="primary" class="hover-class"
                        (click)="openBottomSheet()">
                    Call me</button>
                <button mat-flat-button color="primary" class="hover-class"
                        (click)="openDialog()">Email Me</button>
            </div>
        </mat-toolbar>
    </header>

    <div class="over-main" fxLayout="row">
        <div class="app-nav" fxShow fxHide.xs="true">
        </div>
        <div class="app-main">
            <router-outlet></router-outlet>
        </div>
        <div class="app-aside" fxShow fxHide.sm="true"  fxHide.xs="true">
        </div>
    </div>

    <footer class="app-footer" fxLayout="row" fxLayoutAlign="center center">
        <h4>
            Copyright 2021, stealing my identity is highly illegal!!
        </h4>
    </footer>
</div>
