/* You can add global styles to this file, and also import other style files */
//@import './app.theme';

//@use '~@angular/material' as mat;
@import './theme.scss';


app-root {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
}
html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: $light-background;
}

#footer {
    position: absolute;
    bottom:0;
    width:100%;
    height:60px;
    background: map-get($theme-primary, 'darker');
}
.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.app-footer, .app-nav, .app-aside, .app-header, .app-main{
    padding:20px;
    margin: 5px;
}


.over-main{
    flex: 1;
    display: flex;
}
.app-main {
    flex: 1 1 300px;
    min-height: 300px;
}

.app-footer{
    background: map-get($theme-primary, 'main');
    flex: 0 0 40px;

    h4 {
        color: $light-text;
    }
}
.app-nav {
    flex: 0 2 150px;
    background: map-get($theme-primary, 'lighter');
}
.app-aside {
    flex: 0 2 200px;
    //background: map-get($theme-primary, 'lighter');
}

.hover-class:hover{
    background-color: map-get($theme-primary, 'darker');
}
mat-list{
    .header-container{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 25px;
        background: map-get($theme-primary, 'lighter');
        height: 50px;
        h2 {
            color: $dark-text;
            line-height: 0.1;
            margin: 0px
            }
        }
    }

    
