<div style="width: 100%">
    <div mat-dialog-title>Send me an email</div>
<form class="email-form"  [formGroup]="emailForm"
      (ngSubmit)="onSubmit()">
        <p class="mat-subheading-2">
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Name:</mat-label>
                <input matInput formControlName="name" required>
                <mat-error>Please provide your name</mat-error>
            </mat-form-field>

        </p>
        <p>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Company:</mat-label>
                    <input matInput formControlName="company"/>
            </mat-form-field>
        </p>
        <div>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Email Address: </mat-label>
                <input matInput type="email"
                       formControlName="email_address"
                       [email]="call" required>
                <mat-error>Please enter a valid email address</mat-error>
            </mat-form-field>
        </div>
        <p class="mat-subheading-2">
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Subject:</mat-label>
                    <input matInput
                           formControlName="subject" required />
            </mat-form-field>
            <mat-form-field class="full-width "
                            appearance="fill">
                <mat-label>Content:</mat-label>
                <textarea matInput
                          cdkTextareaAutosize
                          cdkAutosizeMinRows="6"
                          formControlName="content"
                          required >
                    </textarea>
            </mat-form-field>
        </p>
    <mat-dialog-actions align="end">
    <button mat-flat-button class="submit" color="accent" (click)="onSubmit()">Submit</button>
    <button mat-button class="cancel" color="accent" (click)="close()">Close</button>
    </mat-dialog-actions>
</form>
</div>
